*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Fira Sans', sans-serif;
}

.header{
  padding: 40px;
  text-align: center;
}
.header_bg{
  background-color: #000000;
}

.logo{
  color: #E40069;

}

.main_bg{
  background-color: #000000;
  box-shadow: inset 0 -100px #ffffff;
}

.container{
  max-width: 1200px;
  margin: 0 auto;

}
.banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  
}
.banner_text{
  align-self: center;
  padding: 20px;
  text-align: right;
  
}
.banner_text h1{
  color: #ffffff;
  padding-bottom: 8px;
  text-transform: uppercase;
  max-width: 28ch;
  font-size: 3rem;
}
.banner img{
  border-radius: 5px;
  display: block;
}
.sobremim{
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;  
}

.descricao h1{
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.descricao span{
  color: #E40069;
}

.descricao p{
  font-size: 1.2rem;
  max-width: 600px;
}

.glow_bg{
  background-color: #000000;
  padding: 100px;
}

.glow h2{
  font-size: 2rem;
  color: #ffffff;
}
.glow p{
  color: #A3A3A3;
  padding: 8px;
}

.etapas h2{
  font-size: 1.5rem;
  margin: 12px 0;
}

.glow ul{
  color: #A3A3A3;
}

.glow ul li{
  padding: 8px;
  transition: 0.2s;
  margin: 8px 20px;
  position: relative;  
}

.glow ul li:hover{
  color: #ec539a;
  transform: translateX(5px);  
}
.glow ul li::before{
  content: "";
  position: absolute;
  left: -20px;
  width: 16px;
  height: 16px;
  background: url(../assets/icon/arrow-right.svg) no-repeat;  
}


/*** SERVIÇOS É A ESTILIZAÇÃO DA AREA "DISPONIVEL PARA VOCê"***/

.servicos_bg{
  background-color: #f1f0f0;
  padding: 100px;
}

.servicos h2{
  font-size: 4rem;
  text-transform: uppercase;
  color: #302f2f;
  text-align: right;
}

.servicos span{
  color: #E40069;
}
.lista_servicos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 100px;
}

.lista_servicos span{
  font-size: 1.5rem;
  color: #000000;
  font-weight: 600;
}
.lista_servicos p{
  font-size: 1rem;
  color: #302f2f;
  margin-top: 8px;
  max-width: 52ch;
}
.lista_servicos li{
  position: relative;
}
.lista_servicos li:nth-child(1) span::before{
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(../assets/icon/broadcast.svg) no-repeat;
  left: -35px;
}
.lista_servicos li:nth-child(2) span::before{
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(../assets/icon/file-pdf-fill.svg) no-repeat;
  left: -35px;
}
.lista_servicos li:nth-child(3) span::before{
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(../assets/icon/chat-dots-fill.svg) no-repeat;
  left: -35px;
}
.lista_servicos li:nth-child(4) span::before{
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(../assets/icon/gear-fill.svg) no-repeat;
  left: -35px;
}
.lista_servicos li:nth-child(5) span::before{
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(../assets/icon/calendar-heart-fill.svg) no-repeat;
  left: -35px;
}

.content{
  padding: 80px 20px;
  
  
}
.box{
  background-color: #000000;
  max-width: 700px;
  margin: 24px 0;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 1px 4px #000000;
 
}

.box:nth-child(2){
  background-color: #E40069;
  text-align: right;
  border-radius: 4px;
}

.box h2{
  color: #F0F0F0;
  margin-bottom: 16px;
}
.box ul{
  padding: 12px;
}

.box li{
  color: #A3A3A3;
  margin-bottom: 12px;
  position: relative;
}
.box li::before{
  content: "";
  position: absolute;
  left: -20px;
  width: 16px;
  height: 16px;
  background: url(../assets/icon/check-lg.svg) no-repeat;
  padding: 8px;
}
.depoimentos_bg{
  background-color:  #000000;
  padding: 100px;
}

.depoimentos h2{
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}
.depoimentos span{
  color: #E40069;
}
.depoimentos h2::before{
  content: "";
  width: 8px;
  height: 45px;
  background-color: #E40069;
  position: absolute;
  left: -14px;
  top: 14px;
}

.footer{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 12px;
}

.midias{
  display: flex;
  gap: 12px;
  padding: 12px;
}

.logo_footer{
  width: 50px;
}

@media (max-width: 740px){

  .main_bg{
    box-shadow: inset 0 -200px #ffffff;
  }
  
.banner_text h1{
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
}
  
  .banner{
    grid-template-columns: 1fr;
  }
  .banner img{
    margin: 0 auto;
  }
  .servicos h2{
    text-align: center;
  }

}

@media (max-width: 640px){

  /*SEÇÃO PRINCIPAL*/
  .banner{
    grid-template-columns: 1fr;  
  }
  .banner_text h1{
    max-width: 18ch;
    font-size: 2.5rem; 
    text-align: center; 
    margin: 0 auto;
  }
  .banner img{
    max-width: 100%;
    width: 400px;
    margin: 0 auto;
  }

  /* SEÇÃO SOBREMIM */
  .sobremim{
    padding: 40px;
    margin-top: 30px;    
  }  
  .descricao h1{
    font-size: 3.5rem; 
  }
   .descricao p{
    font-size: 1rem;
    margin-bottom: 100px;  
  }


  /* SEÇÃO GLOWUP */
  .glow_bg{
    padding: 40px;
  } 


  /* SEÇÃO DISPONIVEL PARA VOCÊ */
  .servicos_bg {
    padding: 60px;
  }
  .servicos h2{
    font-size: 2rem;
     text-align: center;
  }
  .lista_servicos{
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 40px;  
  }  
  .lista_servicos span{
    font-size: 1rem;  
  }
  .lista_servicos p{
    max-width: 80ch;
  }


 /* SEÇÃO "PARA VOCÊ" */ 
  .content{
    padding: 40px 20px;  
  }
  .box h2{
    font-size: 2rem;
    text-align: center;
  }
  .box li{
    font-size: 1rem;
  }

}
@media (max-width: 480px){

  .banner_text h1{
    max-width: 32ch;
    font-size: 2rem;  
  }
  .banner img{
    max-width: 100%;
    width: 300px;
    margin: 0 auto;  }

}